.container {
  margin-top: 3rem;
  width: 100%;
  max-width: 500px;
  list-style: none;
}

.container li + li {
  margin-top: 1rem;
}

.no_items {
  width: 100%;
  display: flex;
  justify-content: center;
}